{% extends "base.html"%}
{% block content%}
<div style="padding-top: 20px;">
    <h1>Upload your CSV file here</h1> 
        <div>
            <form class="" action="" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <input class ="form-control" type="file" name="csvfile" value="">
                </div>
                    <button type="submit" class="btn btn-primary mb-3" value="Submit">Submit</button>
                <div class="mb-3">
                
                </div>
            </form>
        </div>
</div>

<script>

</script>


{% endblock content%}


<!-- <input type="submit" name="" value="Submit"> --> 
