<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Google Maps - gmplot</title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyBE26vTcC2zmNuB_Q1X6i8UzKY-ca5Dfxc"></script>
<script type="text/javascript">
    function initialize() {
        var map = new google.maps.Map(document.getElementById("map_canvas"), {
            zoom: 10,
            center: new google.maps.LatLng(43.525883, -79.708533)
        });

        var marker_icon_FF0000 = {
            url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAiCAYAAACwaJKDAAAABmJLR0QA/wD/AP+gvaeTAAACBklEQVRIia3VzUtUURgH4GdG/AiyZZShtWgXUbSIFtGqRYtqWRLhXyBYf0K6MaJQ2gRtayHtijYpleHKSCgIcRHoIiOSKEzLKea0OOeqTfPlzPzg5Qwz9zz3nXPvPTeneo7gNA4gjyI+Ygbva8z9L2cxi9BHOE+4msY+gliz6biayWE0R7GfMEcoEkJJzRH6CbnY+WiaVxEc6yY8KQOVq8eE7tj1WCV4qIswUyeY1QyhK8JDpWAP1m7vEMzqTkTXkrOZkYOEQoNogXAowiPE2wQuDqC9nktZJu0YSE72XRs2phrsMqup2OkG2vLpRB19DXaZJc3vQHv294Um0e3z8yigsNQkmuYXUMie5/npJtE0fz55YLiXsNHELdUbV2B4+4n2Y/Vmg+itCK4m558MdhBe7hCcJnRGdLDS0ox3E17XCb4h7IngeLX1zuFhD2G5BriytY4Tqmx9WXbh3Tnl99KsLkdwAbtrgVmO4/eDCuCkzd3/TL1glru9hF8lYJFwMoKPdgrCXqzfL0GfR7CIo42gcO9YCXopolONgnAC4W0Cv9l8dVxpBoWFGwmdiOC6Glc8X+3HlKeT6cOzOLzAjyaaBBc602ZzOHZ6vVkQ9kl7Qi6ip1qBwpdrEfwjPnFVU8+awuKrOC7hZ6vQlQ9baM3Ui379HsfVVqKf07jcSvRTGhfrOfgvIP3ECS77BDoAAAAASUVORK5CYII=",
            labelOrigin: new google.maps.Point(10, 11)
        };

        new google.maps.Marker({
            position: new google.maps.LatLng(43.525883, -79.708533),
            label: "Start",
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(43.660300, -79.396450),
            label: "End",
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Polyline({
            clickable: false,
            geodesic: true,
            strokeColor: "#0000FF",
            strokeOpacity: 1.000000,
            strokeWeight: 3,
            map: map,
            path: [
                new google.maps.LatLng(43.525883, -79.708533),
                new google.maps.LatLng(43.525850, -79.708467),
                new google.maps.LatLng(43.525900, -79.708467),
                new google.maps.LatLng(43.525900, -79.708450),
                new google.maps.LatLng(43.525883, -79.708483),
                new google.maps.LatLng(43.527267, -79.706250),
                new google.maps.LatLng(43.523717, -79.682983),
                new google.maps.LatLng(43.577167, -79.590100),
                new google.maps.LatLng(43.577317, -79.589917),
                new google.maps.LatLng(43.632767, -79.474050),
                new google.maps.LatLng(43.632800, -79.474000),
                new google.maps.LatLng(43.634667, -79.438650),
                new google.maps.LatLng(43.650900, -79.397183),
                new google.maps.LatLng(43.665117, -79.400100),
                new google.maps.LatLng(43.664667, -79.400000),
                new google.maps.LatLng(43.660300, -79.396450),
            ]
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(43.52588333333333, -79.70853333333334),
            radius: 750
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(43.525850000000005, -79.70846666666667),
            radius: 750
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(43.5259, -79.70846666666667),
            radius: 750
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(43.5259, -79.70845),
            radius: 750
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(43.52588333333333, -79.70848333333333),
            radius: 750
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(43.52726666666668, -79.70625),
            radius: 750
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(43.523716666666665, -79.68298333333334),
            radius: 750
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(43.57716666666667, -79.59009999999999),
            radius: 750
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(43.57731666666667, -79.58991666666667),
            radius: 750
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(43.632766666666676, -79.47405),
            radius: 750
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(43.632799999999996, -79.47399999999999),
            radius: 750
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(43.63466666666667, -79.43865000000001),
            radius: 750
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(43.6509, -79.39718333333333),
            radius: 750
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(43.66511666666667, -79.40010000000001),
            radius: 750
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(43.66466666666667, -79.4),
            radius: 750
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(43.66030000000001, -79.39645),
            radius: 750
        });

    }
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
    <div id="map_canvas" style="width: 100%; height: 100%;" />
</body>
</html>
